@charset "utf-8";

.rojo { 
    color: #fff;
    background-color: #fc7169;
}
.rojo:hover {
    background-color: #ea665e;
}
.azul { 
    color: #fff;
    background-color: #428bca;
}
.azul:hover {
    background-color: #3878ad;
}
.verde { 
    color: #fff;
    background-color: #35a785;
}
.verde:hover {
    background-color: #27866b;
}

.blanco {
    background: #fff;
    color: #333;
    border: solid 1px #d8d8d8;
}

.blanco:hover {
    background: #d8d8d8;
    border: solid 1px #b9b9b9;
}