@charset "utf-8";

/*
- HTML5 PARA MOBILE
*/
textarea[contenteditable] {-webkit-appearance: none;}
.hidden { display: none !important; visibility: hidden; }
.invisible { visibility: hidden; }

/*
- ELIMINAR EL MARGEN 
*/
.noml { margin-left:0!important;}
.nomt { margin-top:0!important;}
.nomr { margin-right:0!important;}
.nomb { margin-bottom:0!important;}

/*
- ELIMINAR EL PADDING 
*/
.nopl { padding-left:0!important;}
.nopt { padding-top:0!important;}
.nopr { padding-right:0!important;}
.nopb { padding-bottom:0!important;}

/*
- ELIMINAR EL BORDE 
*/
.nobl { border-left:0px!important;}
.nobt { border-top:0px!important;}
.nobr { border-right:0px!important;}
.nobb { border-bottom:0px!important;}

/*
- ELIMINAR EL FONDO/BACKGROUND 
*/
.nobg {background:none!important;}

/*
- CLEARFLOAT
*/
.clearfloat { clear: both; height: 0; font-size: 1px; line-height: 0px;}

/*
- ELEMENTOS QUE FLOTAN IZQUIERA Y DERECHA
*/
.left { float:left!important; }
.right { float:right!important;}


/*
- ASDF
*/
/*.fullwidth { width:100%!important; }*/
